<div class="login">
  <div class="login-triangle"></div>

  <h2 class="login-header">Log in</h2>

  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" formControlName="username" placeholder="user-name"  [ngClass]="{'is-invalid': submitted && formControls.username.errors}" >
      <div *ngIf="loginForm.controls['username'].errors">
        <p *ngFor="let err of obj.values(loginForm.controls['username'].errors)">{{err}}</p>
      </div>
    </div>

    <div>
      <input type="password" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid': submitted && formControls.password.errors}">
      <div *ngIf="loginForm.controls['password'].errors">
        <p *ngFor="let err of obj.values(loginForm.controls['password'].errors)">{{err}}</p>
      </div>
    </div>

    <div>
      <input type="submit" value="Log in" [disabled]="loginForm.invalid">
    </div>

  </form>

</div>