
  <div class="catCard"><a href="#"><img [src]="book.imageLinks['smallThumbnail']" alt=""></a>
    <div class="lowerCatCard">
    <h3>{{book.title}}</h3>
    <div class="startingPrice">{{book.subtitle}}<span>{{book.publishedDate}}</span></div>
    <p>Bacon ipsum dolor sit amet hamburger doner kielbasa beef ribs, frankfurter prosciutto tri-tip pig turducken tenderloin filet mignon. Frankfurter chuck fatback venison pastrami sirloin. Rump tongue boudin meatloaf venison ham prosciutto.</p>
    <h4>Best Used For:</h4>
    <ul>
    <li>Eating Bacon</li>
    <li>Cooking Bacon</li>
    </ul>
    <div id="catCardButton" class="button" (click)="removeItemFromCart()">Remove item</div>
    </div>
    </div>